*{
    margin: 0;
    padding: 0px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
body{
    background: #dedede;
}

header{
    background: brown;
    
    
    box-shadow: 1px 1px 5px black;
    
    max-height: 80px;
  
}
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 1.3rem;
    }
.logo{
    float: left;
    padding: 0.5rem;
    background: black;
    color: brown;
    border: none;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.logo a{
    text-decoration: none;
    color: brown;
}
nav ul{
    margin:0px;
    padding: 0px;
    list-style-type: none;
}
nav li{
    float: right;

}
#solo{
    display: none;
}
nav li a{
    text-decoration: none;
    color: white;
    padding: 0.7rem;
    text-transform: uppercase;

}
.dish{
    display: grid;
    grid-template-areas: "photo texte texte ";
    grid-gap: 1rem;
    width: 75%;
    margin: 3rem auto;
    background: #fff;
    padding: 0.5rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);

   

}
.dish p{
    display: block;
    margin-top: 0.7rem;
   

}
.dish h1{
    text-decoration: underline;
    color: green;
}
.photo{
    grid-area: photo;
}
.text{
    grid-area: texte;
}

.photo img{
    width:100%;
    height: 90%;
   margin-top: 0.5rem;
}
footer{
    background: brown;
    text-align: center;
    min-height: 80px;
    padding: 2rem;
}


@media(max-width:800px){

    #solo{
        display: block;
    }
    .combine{
      display: none;
    
    }
    .dish{
        grid-template-areas: "photo" "texte";
    }
}